<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Eat-Da-Burger!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <script src="https://code.jquery.com/jquery.js"></script>
  </head>
  <body>

    {{{ body }}}

    <footer class="footer">
      <div class="copyright">
        <div class="container">
          <span>©Cecilio A Ramirez Cordova</span>
          <a href="https://github.com/alexjr1194" target="_blank">Other Work</a>
        </div>
      </div>
    </footer>
  </body>
</html>
